@font-face {
    font-family: 'Georgia';                     /*  I think this font more fat than original */
    src: url('../assets/fonts/911Fonts.com_GeorgiaRegular__-_911fonts.com_fonts_rbS7.ttf');
    font-style: normal;
    font-weight: normal;
}            
*{                                    
    box-sizing: border-box;                    
    margin: 0;
    padding: 0;
}  
html, body {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: Georgia;
    color: #292929;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
}
h1 {                                  
    font-size: 32px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    line-height: 110%;
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: color 0.5s;
}
h1:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
} 
h3 {                          
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 80px;
    text-align: center;
}
h4, .in_addition_number_card {                                   
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
} 
h5 {
    font-size: 15px;
    line-height: 110%;;
    letter-spacing: 0.06em;
    color: #545454;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    flex-direction: column;
    display: flex;
}
.btn {
    display: inline-block;
    align-items: center;
    padding: 15px 45px;
    height: 52px;
    border-radius: 100px;
    font-size: 17px;
    border: 2px solid #F1CDB3;
    width: 187px;
    transition: background-color 03.s ease 0s;
    cursor: pointer;
}
.btn:hover {
    background:#FDDCC4;
}
.main {
    flex: 1 1 auto;
}
[class*="_container"] {
    margin: 0px auto;
    max-width: 1280px;
    padding: 0 40px; 
}
/* @media (max-width: 1280px) {        /* 85 - 99 I became to make the responsable version */
/*     [class*="_container"] {
        max-width: 970px;
    }
}
@media (max-width: 991.98px) {
    [class*="_container"] {
        max-width: 750px;
    }
}
@media (max-width: 767.98px) {
    [class*="_container"] {
        max-width: none;
    }
} */ 
.header {
    background: url('../assets/images/start-screen-background.jpg') center 0 / cover no-repeat;
} 
.header_container { 
    display: flex;
    justify-content: space-between;
    min-height: 180px;
    align-items: center;
     
} 
.menu {
    display: flex;
}
.menu_list{
    display: flex;
    gap: 35px;
    list-style-type: none;
}
.menu_list:last-child {
    gap: none;
}
.menu_link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}
.menu_link:hover {
    color: #FAFAFA;
    cursor: pointer;
}
.menu_link:active {
    border-bottom: 3px solid #F1CDB3;
    display: inline-block;
    line-height: 0.85;
}
.logo_subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}
 .not_only {
    background: url('../assets/images/start-screen-background.jpg') center -180px / cover no-repeat;
} 
.not_only_container {
    display: flex;
    /* background: url('../assets/images/start-screen-background.jpg') center -180px / cover no-repeat; */
    min-height: 728px;
}
.not_only_block {
    flex: 1 1 42%;
}
.not_only_title {
    padding: 163px 0 42px 0;
    font-size: 44px;
    color: #FFFFFF;
    transition: color 0.5s;
}
.not_only_descrb {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    letter-spacing: 0.03em;
}
.not_only_btn {
    margin-top: 42px;
    background-color: #F1CDB3;
    width: 207px;
    border: #F1CDB3;
}
.not_only_img {
    flex: 1 1 58%;
}
.not_only_img img {
    max-width: 100%;
}
/* .about {
    min-height: 588px;
    background: #FFFFFF;
} */
.about_container {
    min-height: 588px;
    background: #FFFFFF;
}
.about_part {
    display: flex;
    padding: 80px 175px 100px 175px;     /*  what do you think about use padding like this, is it correct or not */
}
.about_img {                                   
    flex: 1 1 49.6%; 
} 
.about_img img {
    max-width: 100%;
}
.about_block {                              
    flex: 1 1 50.4%;
    padding: 14px 0px;    
}
.about_title {
    text-align: start;
    padding: 0;
    margin:0;
}
.about_descrb1, .about_descrb2 {
    margin-top: 25px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    letter-spacing: -0.00em;
}
.our_friends {
    background: #F6F6F6;
}
.our_friends_container {
    min-height: 877px;
   /*  background: #F6F6F6; */
}
.our_friends_title {
    margin-top: 0;
    margin-bottom: 60px;
}
.our_friends_block {
    display: flex;
    justify-content: center;
}
.our_friends_cards {
    display: flex;
    align-items: center;
}
.our_friends_img_arrow_left {
    margin-right: 7px;
}
.our_friends_col {
    flex: 0 1 22.5%;
    padding: 0 45px 60px 45px;
    align-items: center;
    cursor: pointer;
}
.our_friends_img_name {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #545454;
    letter-spacing: 0.06em;
}
.our_friends_img_btn {
    margin-top: 30px;
}
.our_friends_img_arrow_rigth {
    margin-left: 7px;
}
.our_friends_img_arrow_rigth:hover, .our_friends_img_arrow_left:hover {
    background: #FDDCC4;
    cursor: pointer;
    border-radius: 100px;
}
.our_friends_button {
    display: flex;	
    justify-content: center;
}
.our_friends_btn {
    width: 261px;
    background: #F1CDB3;
}
.help {
    background: #FFFFFF;
}
.help_container {                                      
    min-height: 611px;
    /* background: #FFFFFF; */
}
.help_wrapper {
    padding: 60px 60px 100px 60px;      /*  I think it is a crazy idea)))) to make this block like me))) */
}
.help_title {
    margin-top: 0;
} 
.help_row1, .help_row2 {
    display: flex;
    gap: 120px; 
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: space-between; 
}
.help_row2 {
    padding: 55px 60px 0 60px;
}
.help_food {
    flex: 1 1 6.83%;
}
.help_transportation {
    flex: 1 1 12.5%;
}
.help_toys {
    flex: 1 1 5%;
}
.help_bowls {
    flex: 1 1 14%;
}
.help_shampoos {
    flex: 1 1 8.42%;
}
.help_row2 {
    margin-bottom: 0;
}
.help_vitamins {
    flex: 1 1 7.42%;
}
.help_medicines {
    flex: 1 1 8.42%;
}
.help_collars {
    flex: 1 1 14%;
}
.help_sleeping {
    flex: 1 1 13%;
}
.help_img_descrb {
    margin-top: 30px;
}
.in_addition {
    background: #F6F6F6;
}
.in_addition_container {
    min-height: 462px;
    /* background: #F6F6F6; */
}
.in_addition_block {
    display: flex;
}
.in_addition_img {
    flex: 1 1 57.3%;
    padding: 91px 30px 110px 143px;
}
.in_addition_card {
    flex: 1 1 42.7%;
    padding-right: 144px;
}
.in_addition_title {
   text-align: start;
   margin-top: 0;
}
.in_addition_text {
    margin-top: 20px;
}
.in_addition_btn {
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 20px;
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    letter-spacing: 0.14em;
  
} 
.in_addition_descrb {
    margin-top: 20px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #B2B2B2;
    letter-spacing: -0.00em;
}
.footer {
    background: url('../assets/images/footer-background.jpg') no-repeat center / cover;
}
.footer_container {
    min-height: 350px;
    /* background: url('../assets/images/footer-background.jpg') no-repeat center / cover; */
}
.footer_wrapper {
    display: flex;
    justify-content: space-between;
}
.footer_column1 {
    flex: 1 1 24.2%;
    margin-right: 160px;
}
.footer_title {
    text-align: start;
    padding: 56px 0 0 0; 
    color: #FFFFFF;
    margin: 0;
}
.footer_mail, .footer_tel {
    margin-top: 43px;
}
.footer_link {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    margin-left: 20px;
}
.footer_map1 {
    margin-top: 34px;
    display: flex;
    align-items: center; 
}
.footer_map2 {
    margin-top: 32px;
    display: flex;
    align-items: center; 
} 
.footer_column2 {
    flex: 1 1 25.2%;
    margin-right: 152px;
}
.footer_column2:last-child {
    margin-right: 0px;
}    
.footer_mail, .footer_tel {
    margin-top: 43px;
    display: flex;
    align-items: center;
} 
.footer_mail img, .footer_tel img {
    max-width: 100%;
}
.footer_image {
    padding: 40px 0 0 0;
    max-width: 100%;
}