@font-face {
    font-family: 'Georgia';                     
    src: url('../assets/fonts/911Fonts.com_GeorgiaRegular__-_911fonts.com_fonts_rbS7.ttf');
    font-style: normal;
    font-weight: normal;
}            
*{                                    
    box-sizing: border-box;                    
    margin: 0;
    padding: 0;
}  
html, body {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: Georgia;
    color: #292929;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
}
h1 {                                  
    font-size: 32px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    line-height: 110%;
    margin: 0 0 8px 0;
    cursor: pointer;
    transition: color 0.5s;
    font-weight: 400;
}
h1:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
} 
h3 {                          
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 80px;
    text-align: center;
    font-weight: 400;
}
h4, .in_addition_number_card {                                   
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
} 
h5 {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
.wrapper {
    overflow-x: hidden;
    min-height: 100%;
    flex-direction: column;
    display: flex;
}
.btn {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400; 
    display: inline-block;
    align-items: center;
    padding: 15px 40px;
    height: 52px;
    border-radius: 100px;
    font-size: 17px;
    border: 2px solid #F1CDB3;
    width: 187px;
    transition: background-color 03.s ease 0s;
    cursor: pointer;
}
.btn:hover {
    background:#FDDCC4;
}
.main {
    flex: 1 1 auto;
}
[class*="_container"] {
    margin: 0px auto;
    max-width: 1280px;
    padding: 0 40px; 
}
.header {
    background: url('../assets/images/start-screen-background.jpg') center 0 / cover no-repeat;
} 
.header_container { 
    
}
.navbar_wrap {
    display: flex;
    justify-content: space-between;
    min-height: 179.5px; 
    align-items: center;
}
.hamb {
    display: none;
}
.popup {
    display: none;
}
.menu {
    display: flex;
}
.menu_list{
    display: flex;
    gap: 39px;
    list-style-type: none;
}
.menu_list:last-child {
    gap: none;
}
.menu_link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
    letter-spacing: -0.010em;
}
.about_link {
    border-bottom: 3px solid #F1CDB3;
    display: inline-block;
    line-height: 1.85;
}
.menu_link:hover {
    color: #FAFAFA;
    cursor: pointer;
}
.menu_link:active {
    border-bottom: 3px solid #F1CDB3;
    display: inline-block;
    line-height: 0.85;
}
.logo_subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.12em;
}
 .not_only {
    background: url('../assets/images/start-screen-background.jpg') center -180px / cover no-repeat;
} 
.not_only_container {
    display: flex;
    min-height: 728px;
}
.not_only_block {
    flex: 1 1 41.5%;
}
.not_only_title {
    padding: 165px 0 41px 0;
    font-size: 44px;
    color: #FFFFFF;
    transition: color 0.5s;
    letter-spacing: 0.015px;
    font-weight: 400;
    line-height: 129%; 
}
.not_only_descrb {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    etter-spacing: 0.025em;
}
.not_only_btn {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400; 
    margin-top: 44px;
    background-color: #F1CDB3;
    width: 207px;
    border: #F1CDB3;
    letter-spacing: 0.05em;
}
.not_only_img {
    flex: 0 1 58.5%;
}
.not_only_img img {
    max-width: 100%;
}
.about_container {
    min-height: 588px;
    background: #FFFFFF;
}
.about_part {
    display: flex;
    padding: 80px 175px 92px 175px;
}         
.about_img {                                   
    flex: 1 1 49.6%; 
} 
.about_img img {
    max-width: 100%;
}
.about_block {                              
    flex: 1 1 50.4%;
    padding: 14px 0px;    
}
.about_title {
    text-align: start;
    padding: 0;
    margin:0;
}
.about_descrb1, .about_descrb2 {
    margin-top: 22px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 158%; 
    color: #4C4C4C;
    letter-spacing: -0.00em;
}
.about_descrb2 {
    margin-top: 26px;
}
.our_friends {
    background: #F6F6F6;
}
.our_friends_container {
    min-height: 877px;
}
.our_friends_title {
    margin-top: 0;
    margin-bottom: 60px;
    letter-spacing: 0.06em;
    padding-top: 78px; 
}
.our_friends_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 59px;  
}
.our_friends_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 91px;
}
.our_friends_link {
    text-decoration: none;
}
.our_friends_col {
    border-radius: 9px;
    align-items: center;
    cursor: pointer;
    background-color: #FAFAFA;
}
.our_friends_img {
    max-width: 100%;
}
.our_friends_col:hover {
    background: #FFFFFF;
}
.our_friends_col:hover .btn {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.our_friends_img_name {
    margin-top: 23px; 
    text-align: center;
    font-size: 20px;
    color: #545454;
    letter-spacing: 0.06em;
}
.our_friends_img_btn {
    margin: 30px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.045em; 
}
.cards_arrow_btn {
    border: 2px solid #F1CDB3;
    border-radius: 100%;
    background:none;
    cursor: pointer;
    width: 52px;
    height: 52px;
    padding-bottom: 4px;
}
.arrow_left {
    margin-right: 6px;    
}
.arrow_rigth {
    margin-left: 6px;    
}
.cards_arrow_btn:hover {
    background: #FDDCC4; 
}
.our_friends_button {
    display: flex;	
    justify-content: center;
    letter-spacing: 0.05em;
}
.our_friends_btn {
    width: 261px;
    background: #F1CDB3;
}
.help {
    background: #FFFFFF;
}
.help_container {                                      
    min-height: 607px;
}
.help_wrapper {
    padding: 60px;     
}
.help_title {
    margin-top: 0;
} 
.help_row {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    align-items: center;
    justify-content: space-around; 
}
.help_food, .help_transportation, .help_toys, .help_bowls, .help_shampoos, .help_vitamins, .help_medicines, .help_collars, .help_sleeping  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.help_img_descrb {
    margin-top: 27px; 
}
.in_addition {
    background: #F6F6F6;
}
.in_addition_container {
    min-height: 462px;
}
.in_addition_block {
    display: flex;
}
.in_addition_img {
    flex: 1 1 56.3%;
    padding: 91px 30px 107px 143px;
}
.in_addition_card {
    flex: 1 1 43.7%; 
    padding-right: 144px;
}
.in_addition_title {
   text-align: start;
   margin-top: 0;
}
.in_addition_text {
    margin-top: 20px;
}
.in_addition_btn {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 20px;
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    text-decoration: none;
    color: #545454; 
} 
.in_addition_descrb {
    margin-top: 20px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #B2B2B2;
    letter-spacing: -0.00em;
}
.footer {
    background: url('../assets/images/footer-background.jpg') no-repeat center / cover;
}
.footer_container {
    min-height: 350px;
}
.footer_wrapper {
    display: flex;
    justify-content: space-between;
}
.footer_column1 {
    flex: 1 1 24.2%;
    margin-right: 143px; 
}
.footer_title {
    text-align: start;
    padding: 56px 0 0 0; 
    color: #FFFFFF;
    margin: 0;
}
.footer_mail, .footer_tel {
    margin-top: 43px;
}
.footer_link {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    margin-left: 20px;
}
.footer_map1 {
    margin-top: 34px;
    display: flex;
    align-items: center; 
}
.footer_map2 {
    margin-top: 32px;
    display: flex;
    align-items: center; 
} 
.footer_column2 {
    flex: 1 1 25.2%;
    margin-right: 152px;
}
.footer_column2:last-child {
    margin-right: 0px;
}    
.footer_mail, .footer_tel {
    margin-top: 43px;
    display: flex;
    align-items: center;
} 
.footer_mail img, .footer_tel img {
    max-width: 100%;
}
.footer_image {
    padding: 40px 0 0 0;
    max-width: 100%;
}
@media (max-width: 1200px) {
    [class*="_container"] {
        max-width: 1200px;
        padding: 0 30px;
    }
    .not_only_container {
        min-height: 635px;
    }
    .not_only_block {
        flex: 0 0 41.5%;
    }
    .not_only_title {
        padding: 59px 0 41px 0; 
    }
    .not_only_img {
        flex: 0 0 54.5%;
    }
    .about_container {
        min-height: 588px;
        background: #FFFFFF;
    }
    .about_part {
        padding: 80px 80px 92px 80px;
    }         
    .our_friends {
        background: #F6F6F6;
    }
    .our_friends_container {
        min-height: 877px;
    }
    .our_friends_row {
        gap: 20px;
    }
    .in_addition_img {
        padding: 91px 30px 107px 52px;
    }
    .in_addition_card {
        padding-right: 40px;
    }
    .footer_column1 {
        flex: 1 1 30.2%;
        margin-right: 20px;
    }
    .footer_column2 {
        flex: 1 1 26.2%;
        margin-right: 20px;
    }
}
@media (max-width: 992px) {
    [class*="_container"] {
        max-width: 992px;
        padding: 0 10px;
    }
    .not_only_container {
        min-height: 515px;
    }
    .not_only_block {
        flex: 0 0 42.5%;
    }
    .not_only_title {
        padding: 59px 0 41px 0; 
    }
    .not_only_img {
        flex: 0 0 51%;
    }
    .footer_column2 {
        flex: 1 1 29.2%;
    }
}
@media (max-width: 768px) {
    [class*="_container"] {
        max-width: 768px;
        padding: 0 30px;
    }
    h1 {
        font-size: 32px;
    }
    .navbar_wrap { 
        min-height: 120px; 
    } 
    .menu_list{
        gap: 38px;
    }
    .menu_link {
        font-size: 15px;
    }
    .logo_subtitle {
        font-size: 13px;
    } 
    .not_only {
        background: url('../assets/images/start-screen-background.jpg') center 0 / cover no-repeat;
    }
    .not_only_container {
        display: flex; 
        flex-direction: column; 
        min-height: 1045px;
    }
    .not_only_block {
        display: flex;
        flex-direction: column;
        padding: 30px 124px 98px 124px
    } 
    .not_only_title {
        padding: 0px; 
        margin-bottom: 42px;
    }
    .not_only_descrb {
        font-size: 14px;
        margin-bottom: 42px;
        letter-spacing: 0.031em;
        line-height: 174%;
    }
    .not_only_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .not_only_btn {
        margin: 0;
    } 
    .not_only_img {
        display: flex;
        justify-content: flex-end; 
    } 
    .not_only_img img {
        max-width: 80.31%;
    }
    .about_container {
        min-height: 1048px;
    }
    .about_part {
        display: flex;
        flex-direction: column-reverse;
        padding: 80px 144px 100px 137px;
    } 
    .about_block {
        padding: 0px; 
    }
    h3 {
        letter-spacing: 0.060em;
    }        
    .about_img {                                   
        display: flex;
        justify-content: center;
        margin-top: 80px; 
    } 
    .about_descrb1, .about_descrb2 {
        margin-top: 25px;
        letter-spacing: 0em;
        line-height: 159%;
    }
    .our_friends_container {
        min-height: 877px;
    }
    .our_friends_title {
        margin-bottom: 60px;
        padding-top: 80px; 
    }
    .dog_hidden {
        display: none;
    }
    .our_friends_block {
        display: block; 
    }
    .our_friends_cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .our_friends_row {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }  
    .our_friends_img_name {
        margin-top: 24px
    }    
    .our_friends_img_btn {
        margin: 30px 0;
    }    
    .arrow_left {
        margin-right: 12px;
    }
    .arrow_rigth {
        margin-left: 12px;
    }
    .our_friends_btn {
        letter-spacing: 0.06em;
    }
    .help_container {                                      
        min-height: 779px;
    }
    .help_wrapper {
        padding: 60px 66px 92px 49px;     
    }
    .help_row {
        gap: 63px;
    }    
    .in_addition_container {
        min-height: 783px;
    }
    .in_addition_block {
        display: flex;
        flex-direction: column-reverse;
    }
    .in_addition_btn {
        letter-spacing: 0.058em;
        padding: 10px 13px;
    }
    .in_addition_descrb {
        letter-spacing: 0em;
    }    
    .in_addition_img {
        display: flex;
        justify-content: center;
        padding:60px 0px 100px 0px;
    }
    .in_addition_card {
        display: flex;
        flex-direction: column;
        padding: 0 164px;
    }
    .footer_container {
        min-height: 639px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 61px;
        padding: 0 33px;
    }
    .footer_column1 {
        flex: 0 0 43.5%;
        margin-right: 0px;  
    }
    .footer_title {
        letter-spacing: 0.058em;
    }    
    .footer_column2 {
        flex: 0 0 47%;
        margin-right: 0; 
    }
    .footer_title {
        padding: 30px 0 0 0;
    }
    .footer_link {
        letter-spacing: 0.068em;
        line-height: 109%;
    }
    .footer_mail, .footer_tel {
        margin-top: 42px;
    }    
    .footer_image {
        padding: 0;
    }
} 
@media (max-width: 600px) {
    [class*="_container"] {
        max-width: 600px;
        padding: 0 30px;
    }
    .navbar_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 120px; 
    }
    .logo_list {
        text-align: center;
    } 
    h1 {
        letter-spacing: 0.06em;
        font-size: 32px;
    }
    .logo_subtitle {
        font-size: 13px;
        
    }
    .menu_list {
        gap: 10px;
    }
    .about_link {
        text-align: center;
    } 
    .not_only_container {
        min-height: 703px;
    }
    .not_only_block {
        align-items: center;
        padding: 30px 0 0 0;
    }
    .not_only_title {
        font-size: 25px;
        text-align: center;
    }
    .not_only_descrb {
        text-align: center;
        letter-spacing: 0.025em;
    }
    .not_only_btn {
        margin-bottom: 42px; 
    }
    h3 {
        font-size: 25px;
        text-align: center;
        padding-top: 42px;
    } 
    .about_container {
        min-height: 974px;
    }
    .about_part {
        display: flex;
        flex-direction: column-reverse;
        padding: 42px 25px 42.2px 25px;
    }
    .about_title {
        text-align: center;   
    }      
    .about_img {                                   
        margin-top: 28px; 
    } 
    .about_descrb1, .about_descrb2 {
        margin-top: 25px;
        text-align: justify;
        letter-spacing: -0.025em;
    }
    .about_descrb2 {
        margin-top: 22px;
    }
    .our_friends_container {
        min-height: 791px;
    }
    .our_friends_title {
        margin-bottom: 42px;
        padding-top: 42px;
    }
    .dog_hidden, .cat_hidden {
        display: none;
    }
    .our_friends_block {
        display: block;
        padding: 30px 15px;
    }
    .our_friends_cards {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .our_friends_col{
        order: 2;
    }
    .arrow_left {
        order: 0;
    } 
    .arrow_rigth {
        order: 3;
    }      
    .arrow_left {
        margin: 20px 0px 29px 0px
    }
    .arrow_rigth {
        margin: 20px 0px 29px 0;
    }
    .our_friends_btn {
        width: 260px;
    }
    .help_container {
        min-height: 610px;
    }
    .help_wrapper {
        padding: 42px 5px 0 5px;
    }
    .help_row {
        gap: 40px;
        justify-content: space-between; 
    }
    h4 {
        font-size: 15px;
    }
    .help_img1 {
        max-width: 80%;
    }
    .help_img_descrb {
        margin-top: 20px;
    }
    .in_addition_container {
        min-height: 542.2px;
    }
    .in_addition_card {
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .in_addition_title {
        text-align: center;
    }
    .in_addition_text {
        text-align: center;
        font-weight: 400;
        letter-spacing: 0;
    }
    .in_addition_descrb {
        text-align: justify;
        letter-spacing: 0.035em;
    }     
    .in_addition_btn {
        width: 281px;
        height: 43px;
        font-size: 15px;
        letter-spacing: 0.04em;
    } 
    .in_addition_img {
        padding: 42px 0px;
    } 
    .in_addition_image {
        max-width: 100%;
    }
    .footer_container {
        min-height: 740px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        gap: 40px;
        padding: 30px 0 0 0;
    }
    .footer_column1 {
        flex: 0 0 80%;
        align-items: center;
        justify-content: space-between;
    } 
    .footer_column2 {
        flex: 0 0 76%;
    }
    .footer_title {
        padding: 0;
        text-align: center;
    }
    .footer_link {
        letter-spacing: 0.05em;
    }
    .footer_map1, .footer_map2 {
        margin-top: 40px;
    }
    .footer_image {
        max-width: 86%;
    }
    .footer_column3 {  
        display: flex;
        justify-content: space-around;
        align-items: center; 
    }   
}
@media (max-width: 480px) {
    [class*="_container"] {
        max-width: 480px;
        padding: 0 10px;
    }
     
    .navbar_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 120px; 
    }
    .logo_list {
        text-align: center;
    } 
    h1 {
        letter-spacing: 0.06em;
        font-size: 32px;
    }
    .logo_subtitle {
        font-size: 13px;
        
    }
    .menu_list {
        gap: 10px;
    }
    .about_link {
        text-align: center;
    } 
    .not_only_container {
        min-height: 703px;
    }
    .not_only_block {
        align-items: center;
        padding: 30px 0 0 0;
    }
    .not_only_title {
        font-size: 25px;
        text-align: center;
    }
    .not_only_descrb {
        text-align: center;
        letter-spacing: 0.025em;
    }
    .not_only_btn {
        margin: 0; 
    }
    h3 {
        font-size: 25px;
        text-align: center;
        padding-top: 42px;
    } 
    .about_container {
        min-height: 974px;
    }
    .about_part {
        display: flex;
        flex-direction: column-reverse;
        padding: 42px 25px 42.2px 25px;
    }
    .about_title {
        text-align: center;   
    }      
    .about_img {                                   
        margin-top: 28px; 
    } 
    .about_descrb1, .about_descrb2 {
        margin-top: 25px;
        text-align: justify;
        letter-spacing: -0.025em;
    }
    .about_descrb2 {
        margin-top: 22px;
    }
    .our_friends_container {
        min-height: 791px;
    }
    .our_friends_title {
        margin-bottom: 42px; 
    }
    .dog_hidden, .cat_hidden {
        display: none;
    }
    .our_friends_block {
        display: block;
        padding: 30px 15px;
    }
    .our_friends_cards {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .our_friends_col{
        order: 2;
    }
    .arrow_left {
        order: 0;
    } 
    .arrow_rigth {
        order: 3;
    }      
    .arrow_left {
        margin: 20px 0px 29px 0px
    }
    .arrow_rigth {
        margin: 20px 0px 29px 0;
    }
    .our_friends_btn {
        width: 260px;
    }
    .help_container {
        min-height: 610px;
    }
    .help_wrapper {
        padding: 42px 5px 0 5px;
    }
    .help_row {
        gap: 40px;
        justify-content: space-between; 
    }
    h4 {
        font-size: 15px;
    }
    .help_img1 {
        max-width: 80%;
    }
    .help_img_descrb {
        margin-top: 20px;
    }
    .in_addition_container {
        min-height: 542.2px;
    }
    .in_addition_card {
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .in_addition_title {
        text-align: center;
    }
    .in_addition_text {
        text-align: center;
        font-weight: 400;
        letter-spacing: 0;
    }
    .in_addition_descrb {
        text-align: justify;
        letter-spacing: 0.035em;
    }     
    .in_addition_btn {
        width: 281px;
        height: 43px;
        font-size: 15px;
        letter-spacing: 0.04em;
    } 
    .in_addition_img {
        padding: 42px 0px;
    } 
    .in_addition_image {
        max-width: 100%;
    }
    .footer_container {
        min-height: 809px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        gap: 40px;
        padding: 30px 0 0 0;
    }
    .footer_column1 {
        flex: 0 0 80%;
        align-items: center;
        justify-content: space-between;
    } 
    .footer_column2 {
        flex: 0 0 76%;
    }
    .footer_title {
        padding: 0;
        text-align: center;
    }
    .footer_link {
        letter-spacing: 0.05em;
    }
    .footer_map1, .footer_map2 {
        margin-top: 40px;
    }
    .footer_image {
        max-width: 86%;
    }
    .footer_column3 {  
        display: flex;
        justify-content: space-around;
        align-items: center; 
    }   
}   
@media (max-width: 375px) {
    [class*="_container"] {
        max-width: 375px;
    }
    body.noscroll {
        overflow: hidden;
    } 
    .navbar_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 120px; 
    }
    .navbar_wrap .menu {
        display: none;
    }
    .hamb {
        display: flex;
        align-items: center;
        z-index: 1000;   
    }
    .hamb_field {
        /* display: flex;
        justify-content: space-between;
        flex-wrap: wrap; */
        /* width: 32px;
        height: 30px; */
    }
    .line {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #F1CDB3;
        margin: 9px auto; 
        transition: 2s;
    }
    .hamb.active .line {
        margin-left: 10px;
        transform: rotateZ(-360deg);
        width: 2px;
        height: 30px;
    }
    .hamb.active .line:first-child {
        margin-left: 0;
    }
    .hamb.active .hamb_field {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 46px;
    }
    .logo_list {
       margin-left: 45.5px;
    } 
    h1 {
        letter-spacing: 0.06em;
        font-size: 32px;
    }
    .logo_subtitle {
        font-size: 13px;
    }
    .popup {
        background-color: #292929;
        width: 320px;
        height: 100vh;
        position: absolute;
        right: -320px;
        display: flex;
        transition: 3s;
        top: 0;
    }
    .popup.open {
        right: 0;
    }
    .logo_list {
        z-index: 1000;
    } 
    .menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 248px 38px 0 38px;
        overflow: auto;
    } 
    .menu_list > li > a {
        font-size: 32px;
        line-height: 160%;
        letter-spacing: 0.0em;
    }
    /* .logo_list {
        margin-left: 0;
    } */
    .hamb_field {
        margin-right: 43px;
    }
    .not_only_container {
        min-height: 703px;
    }
    .not_only_block {
        align-items: center;
        padding: 30px 0 0 0;
    }
    .not_only_title {
        font-size: 25px;
        text-align: center;
    }
    .not_only_descrb {
        text-align: center;
        letter-spacing: 0.025em;
    }
    .not_only_btn {
        margin: 0; 
    }
    h3 {
        font-size: 25px;
        text-align: center;
        padding-top: 42px;
    } 
    .about_container {
        min-height: 974px;
    }
    .about_part {
        display: flex;
        flex-direction: column-reverse;
        padding: 42px 25px 42.2px 25px;
    }
    .about_title {
        text-align: center;   
    }      
    .about_img {                                   
        margin-top: 28px; 
    } 
    .about_descrb1, .about_descrb2 {
        margin-top: 25px;
        text-align: justify;
        letter-spacing: -0.025em;
    }
    .about_descrb2 {
        margin-top: 22px;
    }
    .our_friends_container {
        min-height: 791px;
    }
    .our_friends_title {
        margin-bottom: 42px; 
    }
    .dog_hidden, .cat_hidden {
        display: none;
    }
    .our_friends_block {
        display: block;
        padding: 0 15px; 
    }
    .our_friends_cards {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .our_friends_col{
        order: 1;
    }
    .arrow_left {
        order: 2;
    } 
    .arrow_rigth {
        order: 3;
    }      
    .arrow_left {
        margin: 20px 0px 42px 45px;
    }
    .arrow_rigth {
        margin: 20px 45px 42px 0;
    }
    .our_friends_btn {
        width: 260px;
    }
    .help_container {
        min-height: 745px;
    }
    .help_wrapper {
        padding: 42px 5px 0 5px;
    }
    .help_row {
        gap: 36px;
        justify-content: space-between; 
    }
    h4 {
        font-size: 15px;
    }
    .help_img1 {
        max-width: 80%;
    }
    .help_img_descrb {
        margin-top: 20px;
    }
    .in_addition_container {
        min-height: 542.2px;
    }
    .in_addition_card {
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .in_addition_title {
        text-align: center;
    }
    .in_addition_text {
        text-align: center;
        font-weight: 400;
        letter-spacing: 0;
    }
    .in_addition_descrb {
        text-align: justify;
        letter-spacing: 0.035em;
    }     
    .in_addition_btn {
        width: 281px;
        height: 43px;
        font-size: 15px;
        letter-spacing: 0.04em;
    } 
    .in_addition_img {
        padding: 42px 0px;
    } 
    .in_addition_image {
        max-width: 100%;
    }
    .footer_container {
        min-height: 809px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        gap: 40px;
        padding: 30px 0 0 0;
    }
    .footer_column1 {
        flex: 0 0 80%;
        align-items: center;
        justify-content: space-between;
    } 
    .footer_column2 {
        flex: 0 0 98%;
    }
    .footer_title {
        padding: 0;
        text-align: center;
    }
    .footer_link {
        letter-spacing: 0.05em;
    }
    .footer_map1, .footer_map2 {
        margin-top: 40px;
    }
    .footer_image {
        max-width: 86%;
    }
    .footer_column3 {  
        display: flex;
        justify-content: space-around;
        align-items: center; 
    }   
}
@media (max-width: 320px) {
    [class*="_container"] {
        max-width: 320px;
        padding: 0 10px;
    }
    .logo_list {
        margin-left: 0;
    }
    .hamb_field {
        margin-right: 43px;
    }
    .not_only_container {
        min-height: 703px;
    }
    .not_only_block {
        align-items: center;
        padding: 30px 0 105px 0;
    }
    .not_only_title {
        font-size: 25px;
        text-align: center;
        letter-spacing: 0.055em;
    }
    .not_only_descrb {
        text-align: center;
        line-height: 173%;
        letter-spacing: 0.03em;
    }
    .not_only_btn {
        margin: 0; 
    }
    .not_only_img img {
        max-width: 86.31%
    }
    h3 {
        font-size: 25px;
        text-align: center;
        padding-top: 42px;
    } 
    .about_container {
        min-height: 974px;
    }
    .about_part {
        display: flex;
        flex-direction: column-reverse;
        padding: 42px 15px 42.2px 15px
    }
    .about_block {
        padding: 0px; 
    }
    .about_title {
        text-align: center; 
        letter-spacing: 0.060em;  
    }      
    .about_img {                                   
        margin-top: 40px; 
    } 
    .about_img img {
        max-width: 97%;
    }
    .about_descrb1, .about_descrb2 {
        margin-top: 25px;
        text-align: justify;
        letter-spacing: -0.006em;
        line-height: 159%;
    }
    .about_descrb2 {
        margin-top: 22px;
    }
    .our_friends_container {
        min-height: 791px;
    }
    .our_friends_title {
        margin-bottom: 42px; 
    }
    .dog_hidden, .cat_hidden {
        display: none;
    }
    .our_friends_block {
        display: block;
        padding: 0 15px; 
    }
    .our_friends_cards {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .our_friends_col{
        order: 1;
    }
    .our_friends_img_name {
        margin-top: 25px;
    }
    .arrow_left {
        order: 2;
    } 
    .arrow_rigth {
        order: 3;
    }      
    .arrow_left {
        margin:  20px 0px 42px 43px;
    }
    .arrow_rigth {
        margin: 20px 43px 42px 0;
    }
    .our_friends_btn {
        width: 260px;
        letter-spacing: 0.06em;
    }
    .help_container {
        min-height: 745px;
    }
    .help_wrapper {
        padding: 34px 14px 0 38px;
    }
    .help_row {
        gap: 28px;
        justify-content: space-between; 
    }
    h4 {
        font-size: 15px;
    }
    .help_img1 {
        max-width: 89%;
    }
    .help_img_descrb {
        margin-top: 20px;
    }
    .in_addition_container {
        min-height: 542.2px;
    }
    .in_addition_card {
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .in_addition_title {
        text-align: center;
    }
    .in_addition_text {
        text-align: center;
        font-weight: 400;
        letter-spacing: 0;
        margin-top: 23px;
    }
    .in_addition_descrb {
        text-align: justify;
        letter-spacing: 0.012em;
        line-height: 153%;
        padding: 0 10px;
    }     
    .in_addition_btn {
        width: 281px;
        height: 43px;
        font-size: 15px;
        letter-spacing: 0.06em;
        margin-top: 24px;
        padding: 10px 12px;
    } 
    .in_addition_img {
        padding: 41px 0px 0px 0;
    } 
    .in_addition_image {
        max-width: 87%;
    }
    .footer_container {
        min-height: 809px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        gap: 40px;
        padding: 30px 0 0 0;
    }
    .footer_column1 {
        flex: 0 0 80%;
        align-items: center;
        justify-content: space-between;
    } 
    .footer_column2 {
        flex: 0 0 98%;
    }
    .footer_title {
        padding: 0;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .footer_link {
        letter-spacing: 0.05em;
    }
    .footer_link {
        line-height: 119%;
        margin-left: 18px;
        letter-spacing: 0.054em;
    }
    .footer_map1, .footer_map2 {
        margin-top: 40px;
    }
    .footer_image {
         max-width: 87%;
    }
    /* .footer_column3 {  
        display: flex;
        justify-content: space-around;
        align-items: center; 
    } */        
            
}     