* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Georgia;
    src: url('../assets/fonts/911Fonts.com_GeorgiaRegular__-_911fonts.com_fonts_rbS7.ttf');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
body {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
}
h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}
h3 {   
    font-weight: 400;
    font-size: 35px;
    line-height: 128.5%;
    letter-spacing: 0.06em;
    color: #545454;
}
h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.btn {
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
    background: #FFFFFF;
}
.btn:hover {
    background: #FDDCC4;
    transition: ease 3ms;
}
.wrapper {
    overflow-x: hidden;
    min-height: 100%;
    flex-direction: column;
    display: flex;
}
[class*="_container"] {
    margin: 0px auto;
    max-width: 1280px;
    padding: 0 40px; 
}
.main {
    flex: 1 1 auto;
}
.pets_header {
    min-height: 120px;
    background: #FFFFFF;
}
.pets_block {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pets_title_link {
    text-decoration: none;
}
.logo_subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    margin-top: 10px;
}
.menu {
    display: flex;
}
.menu_list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 35px;
}
.menu_link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #545454;
}
.menu_link:hover {
    transition: ease 0.3ms;
}
.menu_link:active {
    border-bottom: 3px solid #F1CDB3;
    display: inline-block;
    line-height: 0.85;
}
.menu_item {
    list-style: none;
}
.popup {
    display: none;
}
.burger {
    display: none;     
}
.our_pets_link {
    border-bottom: 3px solid #F1CDB3;
    display: inline-block;
    line-height: 0.85;
}
.our_pets_main {
    min-height: 1342px;
    background: #F6F6F6;
}
.our_pets_content {
    padding: 80px 0 100px 0;
}
.our_pets_title {
    text-align: center;
}
.our_pets_rows {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.our_pets_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 38px; 
}
.our_pets_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}
.our_pets_img img{
    max-width: 100%;
}
.our_pets_card:hover {
    background: #FFFFFF;
}
.our_pets_card:hover .btn {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
} 
.our_pets_col {
    text-decoration: none;
}
.our_pets_name {
    margin-top: 30px;
    color: #545454;
}
.our_pets_btn {
    margin: 28px 0;
}
.our_pets_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 430px;
    
}
.our_pets_switch {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border:  2px solid #CDCDCD;
    cursor: pointer;
}
.our_arrow_speed_num {
    background:#F1CDB3;
    border: none;
}
.our_arrow_speed_rigth, .rigth {
    border:  2px solid #F1CDB3;
}
.our_arrow_speed_rigth:hover, .rigth:hover {
    background:#F1CDB3;
}
.pets_footer {
    min-height: 350px;
    background: url('../assets/images/footer-background.jpg') no-repeat center / cover;
}
.footer_wrapper {
    padding-top: 56px;
    display: flex;
    gap: 159px; 
}
.footer_col {
    flex-direction: column;
    align-items: flex-start;
}
.col_mail {
    flex: 1 1 23.16%;
}
.col_map {
    flex: 1 1 25.16%;
}
.col_img {
    flex: 1 1 25%;
}
.footer_title {
    color: #FFFFFF;
    margin-bottom: 43px;
}
.footer_mail {
    margin-bottom: 43px;
    display: flex;
    align-items: center;
}
.footer_phone {
    display: flex;
    align-items: center;
}
.footer_map {
    display: flex;
    align-items: flex-start;
    margin-bottom: 33px;
}
.footer_map_img, .footer_mail_img, .footer_img img {
    max-width: 100%;
}
.footer_link {
    text-decoration: none;
    color: #F1CDB3;
    margin-left: 20px;
    letter-spacing: 0.06em;
}
.footer_img img {
    max-width: 100%;
}
@media (max-width: 1280px) {
    [class*="_container"] {
        overflow-x: hidden;
        max-width: 1280px;
        padding: 0 40px;
    }
    .main {
        flex: 1 1 auto;
    }
    .pets_header {
        min-height: 120px;
        background: #FFFFFF;
    }
    .pets_block {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pets_title_link {
        text-decoration: none;
    }
    .logo_subtitle {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.11em;
        color: #292929;
        margin-top: 10px;
    }
    .menu {
        display: flex;
    }
    .menu_list {
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 37px;
    }
    .menu_link {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 164%;
        text-decoration: none;
        color: #545454;
    }
    .menu_link:hover {
        transition: ease 0.3ms;
    }
    .menu_link:active {
        border-bottom: 3px solid #F1CDB3;
        display: inline-block;
        line-height: 0.85;
    }
    .menu_item {
        list-style: none;
    }
    .our_pets_link {
        border-bottom: 3px solid #F1CDB3;
        display: inline-block;
        line-height: 0.85;
    }
    .our_pets_main {
        min-height: 1342px;
        background: #F6F6F6;
    }
    .our_pets_content {
        padding: 80px 0 100px 0;
    }
    .our_pets_title {
        text-align: center;
    }
    .our_pets_rows {
        padding: 59px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 31px;
    }
    .our_pets_row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px; 
    }
    .our_pets_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background: #FAFAFA;
        border-radius: 9px;
        cursor: pointer;
    }
    .our_pets_img img{
        max-width: 100%;
    }
    .our_pets_card:hover {
        background: #FFFFFF;
    }
    .our_pets_card:hover .btn {
        background: #FDDCC4;
        border: 2px solid #FDDCC4;
    } 
    .our_pets_col {
        text-decoration: none;
    }
    .our_pets_name {
        margin-top: 28px;
        color: #545454;
    }
    .our_pets_btn {
        margin: 28px 0;
    }
    .our_pets_arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 430px;
        
    }
    .our_pets_switch {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border:  2px solid #CDCDCD;
        cursor: pointer;
    }
    .our_arrow_speed_num {
        background:#F1CDB3;
        border: none;
    }
    .our_arrow_speed_rigth, .rigth {
        border:  2px solid #F1CDB3;
    }
    .our_arrow_speed_rigth:hover, .rigth:hover {
        background:#F1CDB3;
    }
    .pets_footer {
        min-height: 350px;
        background: url('../assets/images/footer-background.jpg') no-repeat center / cover;
    }
    .footer_wrapper {
        padding-top: 56px;
        display: flex;
        gap: 159px; 
    }
    .footer_col {
        flex-direction: column;
        align-items: flex-start;
    }
    .col_mail {
        flex: 1 1 23.16%;
    }
    .col_map {
        flex: 1 1 25.16%;
    }
    .col_img {
        flex: 1 1 25%;
    }
    .footer_title {
        color: #FFFFFF;
        margin-bottom: 43px;
    }
    .footer_mail {
        margin-bottom: 43px;
        display: flex;
        align-items: center;
    }
    .footer_phone {
        display: flex;
        align-items: center;
    }
    .footer_map {
        display: flex;
        align-items: flex-start;
        margin-bottom: 33px;
    }
    .footer_map_img, .footer_mail_img, .footer_img img {
        max-width: 100%;
    }
    .footer_link {
        text-decoration: none;
        color: #F1CDB3;
        margin-left: 20px;
        letter-spacing: 0.06em;
    }
    .footer_img {
        max-width: 100%;
    }
}
@media (max-width: 992px) {
    [class*="_container"] {
        max-width: 992px;
        padding: 0 30px;
    }
    .logo_subtitle {
        letter-spacing: 0.11em;
    }
    .menu_list {
        margin-left: 76px;
    }
    .menu_link {
        line-height: 164%;
    }            
    .our_pets_main {
        min-height: 1733px;
    }
    .our_pets_content {
        padding: 80px 0 74px 0;
    }
    .our_pets_rows {
        padding: 60px 70px;
    }
    .our_pets_row {
        gap: 62px; 
        justify-content: space-around;
    }    
    .our_pets_name {
        margin-top: 25px;
        letter-spacing: 0.05em;
    }
    .our_pets_btn {
        margin: 29px 0;
    }
    .our_pets_arrow {
        padding: 0 250px;
    }
    .pets_footer {
        min-height: 630px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 53px;
        padding: 0 34px;
    }
    .footer_column1 {
        flex: 0 0 43.5%;
        margin-right: 0px;  
    }
    .col_map {
        flex: 1 1 22.16%;
    }
    .footer_title {
        padding: 30px 0 0 0;
    }
    .footer_link {
        letter-spacing: 0.06em;
    }
    .footer_map {
        margin-bottom: 32px;
        margin-top: -9px;
    }
    .footer_image {
        padding: 0;
    }
    .col_img {
        flex: 0 0 46%;
    }
    .footer_img  {
        max-width: 100%;
    }
    
}     
@media (max-width: 768px) {
    [class*="_container"] {
        max-width: 768px;
        padding: 0 30px;
    }
    .logo_subtitle {
        letter-spacing: 0.11em;
    }            
    .our_pets_main {
        min-height: 1733px;
    }
    .our_pets_content {
        padding: 80px 0 74px 0;
    }
    .our_pets_rows {
        padding: 30px 64px 45px 64px;
    }
    .our_pets_row .hidden {
        display: none;
    }
    .our_pets_row {
        gap: 33px;
    }    
    .our_pets_name {
        margin-top: 25px;
        letter-spacing: 0.05em;
    }
    .our_pets_btn {
        margin: 29px 0;
    }
    .our_pets_arrow {
        padding: 0 183px;
    }
    .pets_footer {
        min-height: 639px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 31px;
        padding: 0 34px;
    }
    .footer_column1 {
        flex: 0 0 43.5%;
        margin-right: 0px;  
    }
    .footer_column2 {
        flex: 0 0 46%;
        margin-right: 0; 
    }
    .footer_title {
        padding: 30px 0 0 0;
    }
    .footer_link {
        letter-spacing: 0.06em;
    }
    .footer_map {
        margin-bottom: 32px;
        margin-top: -9px;
    }
    .footer_image {
        padding: 0;
    } 
    .col_img {
        flex: 0 0 48%;
        padding-top: 35px;
    }
    .footer_img  {
        max-width: 100%;
    } 
}
@media (max-width: 767px) {
    [class*="_container"] {
        max-width: 767px;
        padding: 0 30px;
    }
    body.noscroll {
        overflow: hidden;
    }
    .popup {
        display: flex;
        flex-direction: column;
        top: 0;
        background-color: #F6F6F6;
        height: 100vh;
        width: 320px;
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        overflow-y: hidden;
    }
    .popup.open {
        right: 0;
        visibility: visible;
        opacity: 1;
    }
    .pets_block {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .popup .pets_logo1 {
        display: flex;
        flex-direction: column;
        padding: 30px 0 30px 10px;
    }
    .logo_subtitle {
        letter-spacing: 0.12em;
    }
    .burger {
        display: block;
        z-index: 100;
    }
    .burger_field {
        display: block;
        z-index: 100;
        margin-left: 41px;
        width: 30px;
        height: 30px
    } 
    .burger_field .line {
        width: 30px;
        height: 2px;
        background-color: #000000;
        display: block;
        margin: 8px auto;
        transition: 2s;
    }
    .burger.active .line {
        margin-left: 10px;
        transform: rotateZ(-360deg);
        width: 2px;
        height: 30px;
    }
    .burger.active .line:first-child {
        margin-left: 0;
    }
    .burger.active .burger_field {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu {
        display: none;
    }
    .popup .menu_list {
        padding-top: 158px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 40px;
        margin: 0;
    }
    .popup .menu_link {
        font-size: 32px;
        line-height: 160%;
    }
}    
@media (max-width: 600px) {
    [class*="_container"] {
        max-width: 600px;
        padding: 0 10px;
    }
    .logo_subtitle, h1 {
        text-align: center;
    }
    .menu_list480 {
        margin-left: 25px;
        gap: 40px;
    }           
    .our_pets_main {
        min-height: 1200px;
    }
    .our_pets_content {
        padding: 80px 0 74px 0;
    }
    .our_pets_rows600 {
        padding: 30px 1px 45px 1px;
        justify-content: space-between;
    }
    .our_pets_row600 {
        gap: 36px;
    }
    .our_pets_row .hidden, .hidden600 {
        display: none;
    }    
    .our_pets_arrow {
        padding: 0 120px;
    }
    .pets_footer {
        min-height: 585px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0px;
    }
    .col_img600 {
        flex: 0 0 50%;
    }
}
@media (max-width: 480px) {
    [class*="_container"] {
        max-width: 480px;
        padding: 0 10px;
    }
    .menu_list480 {
        margin-left: 0;
        gap: 0px;
    }
    .our_pets_main {
        min-height: 1649px;
    }
    .our_pets_content {
        padding: 42px 0px;
    }
    .our_pets_rows {
        padding: 41px 15px 12px 15px;
    }
    .our_pets_row {
        gap: 30px;
        justify-content: center;
    }
    h3 {
        font-size: 25px;
    }
    .our_pets_name {
        margin-top: 27px;
        letter-spacing: 0.05em;
    }
    .our_pets_row .hidden320 {
        display: none;
    }
    .our_pets_arrow {
        padding: 0;
    }
    .pets_footer {
        min-height: 809px;
    }
    .footer_wrapper480 {
        gap: 52px;
    }
    .col_mail, .footer_column480 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: auto;
    }
    .footer_title {
        text-align: center;
        padding: 30px 0 0 0;
        margin-bottom: 44px;
    }
    .title_map {
        padding: 0 31px;
    }
    .footer_link {
        letter-spacing: 0.09em;
    }
    h4 {
        letter-spacing: 0.04em;
   }
    .footer_map {
        margin-bottom: 41px;
    }
} 
@media (max-width: 375px) {
    [class*="_container"] {
        max-width: 375px;
        padding: 0 10px;
    }
    .our_pets_main {
        min-height: 1649px;
    }
    .our_pets_content {
        padding: 42px 0px;
    }
    .our_pets_rows {
        padding: 41px 15px 12px 15px;
    }
    .our_pets_row {
        gap: 30px;
        justify-content: center;
    }
    h3 {
        font-size: 25px;
    }
    .our_pets_name {
        margin-top: 27px;
        letter-spacing: 0.05em;
    }
    .our_pets_btn {
        margin: 30px 0;
    }
    .our_pets_row .hidden320 {
        display: none;
    }
    .our_pets_arrow {
        padding: 0;
    }
    .pets_footer {
        min-height: 809px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding: 0;
    }
    .col_mail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: auto;
    }
    .footer_column2 {
        flex: 0 0 46%;
        margin-right: 0; 
    }
    .footer_title {
        text-align: center;
        padding: 30px 0 0 0;
        margin-bottom: 44px;
    }
    .title_map {
        padding: 0 31px;
    }
    .footer_link {
        letter-spacing: 0.09em;
    }
    .footer_image {
        padding: 0;
    }
    .col_img {
        flex: 0 0 88%;
    }
    h4 {
        letter-spacing: 0.04em;
   }
    .footer_map {
        margin-bottom: 41px;
    }
}    
@media (max-width: 320px) {
    [class*="_container"] {
        max-width: 320px;
        padding: 0 10px;
    }
    .our_pets_content {
        padding: 40px 0px;
    }
    .title_map {
        padding: 0 15px;
    }
}    